/* Declaring different variables */

:root {
    --blue: #197278;
    --blue2: #5AB1BB;
    --red: #DC493A;
    --violet: #5B2E48;
    --tang: #F08700;
    --fontSize: 32px;
    --white: #fff;
    --black: #000;
    --trip: #00B274;
  }

/* Top level rules */

body {
  background-image: url('../rss/bicycle-1920.png');
  background-size: cover;
}

.container {
  font-family: 'Tilt Neon', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--violet);
  padding: 10px;
}

.logo img {
  width: 128px;
  height: 128px;
}

/* Nav rules */

.nav {
  list-style-type: none;
  display: flex;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav li {
  margin-right: 25px;
}

.nav li a {
  color: var(--tang);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s ease;
}

/* Best Sellers setup */

#bsa {
    color: var(--white);
    animation: glow 1s ease-in-out infinite alternate;
  }

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  
/* Change the link color on hover */
.nav li a:hover {
    color: var(--white);
  }

/* Subscription rules */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--violet);
  color: var(--white);
}

.sub-text {
  display: flex;
  flex-wrap: wrap;
}

.subs {
  width: 360px;
  height: 40px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
  border-radius: 60px;
  overflow: hidden;
}

.subscription {
  position: relative;
  width: 100%;
  height: 100%;
}

.subscription .add-email{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.subscription .submit-email {
  font-family: 'Tilt Neon', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 60px;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  background: var(--blue2);
  color: var(--white);
  transition: width .35s ease-in-out,
    background .35s ease-in-out;
}

.subscription.done .submit-email {
  width: calc(100% - 2px);
  background: var(--red);
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility .35s ease-in-out,
    opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

.subscription .submit-email .after-submit {
  transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}

/* Contact section rules */

.contact {
  text-align: center;
  font-weight: 700;
}

.contact p {
  padding: 10px 0;
}

#address-span {
  font-weight: bold;
  font-size: 20px;
  color: var(--tang)
}

#opening-hours {
  font-style: italic;
  font-size: 16px;
  color: var(--tang);
}

#phone, #email {
  font-weight: bold;
  font-size: 18px;
  color: var(--red);
  text-decoration: none;
  transition: color 1s ease-in;
}

#phone:hover, #email:hover {
  color: var(--white);
}

/* Main rules */

main {
  display: flex;
  height: 60vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

/* Special rules */

.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
}

.special img {
  margin: 20px;
  width: 300px;
  height: 300px;
}

#h2-spec, #h2-loc {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5%;
  color: var(--red);
}

/* Location rules */

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
}

/* Trip advisor rules */

.tripadv {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 53px;
}

#tripadvisor-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--trip);
  color: var(--white);
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

#tripadvisor-link:hover {
  color: var(--violet);
}

/* Best Sellers page rules */

.bs-gallery {
  width: 1920px;
  text-align: center;
}

.imgs-gallery img {
  width: 300px;
  height: 300px;
  margin: 20px;
}

.bs-h1 {
  font-size: 48px;
  text-align: center;
  margin: 20px 0 20px 0;
  color: var(--red);
}

.imgs-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Bikes rules */

figcaption {
  color: var(--white);
  font-weight: 700;
  width: 300px;
  background-color: var(--blue2);
  padding: 10px;
  border-radius: 10px;
}

.bs-price {
  color: red;
}

/* Hire page rules */

.main-hire {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.hire-h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 150px;
  color: var(--red);
}

.hire-table {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid var(--black);
  margin-top: -250px;
  color: var(--tang);
  background-color: var(--blue);
}

.cell {
  border: 1px solid var(--black);
  padding: 10px;
  text-align: center;
}

/* Services page rules */

.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  width: 1920px;
}

.services img {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.services p {
  font-size: 24px;
  font-weight: bold;
  color: var(--red);
  text-align: center;
  margin: 20px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: var(--white);
}

.h1-serv {
  font-size: 48px;
  text-align: center;
  margin: 20px 0 20px 0;
  color: var(--red);
}

/* Trails page rules */

.trails-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1920px;
}

.trails-gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.trails-video-gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1920px;
}

.trails-video-gallery iframe {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.pxmed480 {
  display: none;
}

@media only screen and (max-width: 1910px) {
  body {
    background-image: url('../rss/bicycle-1920.png');
    background-size: cover;
  }
  
  .container {
    font-family: 'Tilt Neon', sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--violet);
    padding: 10px;
  }
  
  .logo img {
    width: 128px;
    height: 128px;
  }
  
  /* Nav rules */
  
  .nav {
    list-style-type: none;
    display: flex;
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
  }
  
  .nav li {
    margin-right: 25px;
  }
  
  .nav li a {
    color: var(--tang);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
  }
  
  /* Best Sellers setup */
  
  #bsa {
      color: var(--white);
      animation: glow 1s ease-in-out infinite alternate;
    }
  
  @keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
    
  /* Change the link color on hover */
  .nav li a:hover {
      color: var(--white);
    }
  
  /* Subscription rules */
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--violet);
    color: var(--white);
  }
  
  /* Contact section rules */
  
  .contact {
    text-align: center;
    font-weight: 700;
  }
  
  .contact p {
    padding: 10px 0;
  }
  
  #address-span {
    font-weight: bold;
    font-size: 20px;
    color: var(--tang)
  }
  
  #opening-hours {
    font-style: italic;
    font-size: 16px;
    color: var(--tang);
  }
  
  #phone, #email {
    font-weight: bold;
    font-size: 18px;
    color: var(--red);
    text-decoration: none;
    transition: color 1s ease-in;
  }
  
  #phone:hover, #email:hover {
    color: var(--white);
  }
  
  /* Main rules */
  
  /* main {
    display: flex;
    height: 60vh;
  } */

  main {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }
  
  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  
  /* Special rules */
  
  .special {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
  }
  
  .special img {
    margin: 20px;
    width: 300px;
    height: 300px;
  }
  
  #h2-spec, #h2-loc {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5%;
    color: var(--red);
  }
  
  /* Location rules */
  
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
  }
  
  /* Trip advisor rules */
  
  .tripadv {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 53px;
  }
  
  #tripadvisor-link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--trip);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
  }
  
  #tripadvisor-link:hover {
    color: var(--violet);
  }
  
  /* Best Sellers page rules */
  
  /* .bs-gallery {
    width: 1920px;
    text-align: center;
  }
  
  .imgs-gallery img {
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  
  .bs-h1 {
    font-size: 48px;
    text-align: center;
    margin: 20px 0 20px 0;
    color: var(--red);
  }
  
  .imgs-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */
  
  /* Bikes rules */
  
  /* figcaption {
    color: var(--white);
    font-weight: 700;
    width: 300px;
    background-color: var(--blue2);
    padding: 10px;
    border-radius: 10px;
  }
  
  .bs-price {
    color: red;
  } */

  /* Best Sellers page rules */

  .bs-gallery {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .imgs-gallery img {
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  
  .bs-h1 {
    font-size: 48px;
    text-align: center;
    margin: 20px 0;
    color: var(--red);
  }
  
  .imgs-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  figcaption {
    color: var(--white);
    font-weight: 700;
    width: 300px;
    background-color: var(--blue2);
    padding: 10px;
    border-radius: 10px;
  }

  /* Bikes rules */

  #bikes-gallery {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }

  .bs-fig5 {
    display: none;
  }
  
  .bs-price {
    color: red;
  }
  
  /* Hire page rules */
  
  .main-hire {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .hire-h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 150px;
    color: var(--red);
  }
  
  .hire-table {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid var(--black);
    margin-top: -250px;
    color: var(--tang);
    background-color: var(--blue);
  }
  
  .cell {
    border: 1px solid var(--black);
    padding: 10px;
    text-align: center;
  }
  
  /* Services page rules */

  /* .services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
  }
  
  .services img {
    margin: 20px;
    width: 200px;
    height: 200px;
  }
  
  .services p {
    font-size: 24px;
    font-weight: bold;
    color: var(--red);
    text-align: center;
    margin: 20px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--white);
  }
   */

   .services-cont {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .services .service {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .services img {
    max-width: 100%;
    height: auto;
  }
  
  .services p {
    font-size: 24px;
    font-weight: bold;
    color: var(--red);
    text-align: center;
    margin: 20px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: var(--white);
  }
  
  .h1-serv {
    font-size: 48px;
    text-align: center;
    margin: 20px 0 20px 0;
    color: var(--red);
  }
  
  /* Trails page rules */

  .trails-cont {
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 300px;
  }
  
  .trails-gallery, .trails-video-gallery {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .trails-video-gallery {
    margin-bottom: 200px;
  }

  #trails-footer {
   height: 100px;
  }

  .trails-gallery figure, .trails-video-gallery figure {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .trails-gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--white);
    border-radius: 5px;
  }
    
  .trails-video-gallery iframe {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--white);
    border-radius: 5px;
  }

  .pxmed480 {
    display: none;
  }
}

@media only screen and (max-width: 1362px) {
  .bs-fig4 {
    display: none;
  }

  .pxmed480 {
    display: none;
  }
}

@media only screen and (max-width: 1020px) {
  .bs-fig3 {
    display: none;
  }

  .bss-fig3 {
    display: none;
  }

  #bss-gal {
    margin-bottom: 50px;
  }

  .pxmed480 {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .bs-fig2 {
    display: none;
  }

  .bss-fig2 {
    display: none;
  }

  .pxmed480 {
    display: none;
  }
}

@media (max-width: 480px) {
  body {
    background-image: none;
  }

  .container {
    font-size: 14px;
  }

  header {
    padding: 5px;
  }

  .logo img {
    width: 64px;
    height: 64px;
  }

  .nav li {
    margin-right: 10px;
  }

  .nav li a {
    font-size: 14px;
  }

  .subs {
    width: 280px;
  }

  .subscription .submit-email {
    width: 80px;
  }

  .main {
    height: auto;
  }

  .special img {
    width: 200px;
    height: 200px;
  }

  .services img {
    width: 160px;
    height: 160px;
  }

  .services p {
    font-size: 18px;
  }

  .h1-serv {
    font-size: 32px;
  }

  .trails-gallery img,
  .trails-video-gallery iframe {
    width: 220px;
    height: 150px;
  }

  main {
    height: auto;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .location {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .main-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  footer {
    flex-direction: column;
    margin-top: 50px;
  }

  .pxmed490 {
    display: none;
  }

  .pxmed480 {
    display: block;
    margin-bottom: 199px;
  }

  .tripadv {
    display: block;
    position: absolute;
    bottom: 110px;
    height: 10px;
  }

  .services {
    max-width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  .services-cont {
    margin-bottom: 250px;
  }

}